@tailwind base;
@tailwind components;
@tailwind utilities;
.stars {
  font-size: 30px; /* Adjust the size of the stars */
  color: gray; /* Default color for empty stars */
  position: relative;
  display: inline-block;
  border: 2px;
  border-color: blueviolet;
  letter-spacing: 2px; /* Space between stars */
  white-space: nowrap;
  background: linear-gradient(
    90deg,
    gold calc(var(--rating) / 5 * 100%),
    gray calc(var(--rating) / 5 * 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Make text transparent */
  text-fill-color: transparent; /* For non-webkit browsers */
}
